<div id="header">
		<% if current_user %>
				<div style="float: right; text-align: right;">
						Welcome <%= current_user.login %>!, 
						<%= link_to "Logout", logout_path, :method => :delete %>
				</div>
		<% end %>
		<div>
				<div class="logo">
						<%= link_to "iReminder", root_path %>
				</div>
				<% if current_user %>
						<ul id="navigation">
								<li class="<%= (params[:controller] == "users" && (["show", "edit", "update"].include?(params[:action]))) ? 'active' : '' %>">
										<%= link_to "My Account", account_path %>
								</li>
								<li>
										<%= link_to "Events", "#" %>
								</li>
								<li>
										<a href="news.html">News</a>
								</li>
								<li>
										<a href="about.html">About</a>
								</li>
								<li>
										<a href="contact.html">Contact</a>
								</li>
						</ul>
				<% end %>
		</div>
</div>
	